.addCustomer {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--cyan);
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(1.1);
  }

  svg {
    width: 15px;
    height: 15px;

    path {
      fill: var(--white-color);
    }
  }
}
.statsSection{
  margin: 16px 10px;
}
.cardContainer{
  display: flex;
  width: 100%;
  gap: 20px;
}

.containerFilters{
  display: flex;
  gap: 10px;

  .searchBar{
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;

    .inputIcon{
      left: 8px;
      width: 16px;
      height: 16px;
      pointer-events: none;
      position: absolute;
    }

    input{
      height: 35px;
      padding: 0 10px 0 32px;
      background: var(--white-color);
      border: 1px solid var(--text);
      color: var(--black);
      border-radius: 8px;
      font-size: 14px;
      outline: none;
      width: 100%;
    
      &:focus{
        border: 1px solid var(--black);
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3)
      }
    } 
  }

  .selectorFilter{
    display: flex;
    align-items: center;
    position: relative;
    
    .selectorIcon{
      position: absolute; 
      left: 10px;        
      width: 18px;      
      height: 18px;
      z-index: 10;    
      pointer-events: none;

      path{
        fill: var(--black);
      }
    }

    select{
      padding: 0 10px 0 32px;
      background: var(--white-color);
      border: 1px solid var(--black);
      color: var(--black);
      border-radius: 8px;
      font-size: 14px;
      outline: none;
      height: 35px;
      cursor: pointer;

      &:focus {
        border-color: var(--cyan);
      }
    }
  }

  .orderButton{
    background: var(--green);
    border: 1px solid;
    border-radius: 7px;
    min-width: 60px;
  }
}