.statsCardContainer{
  display: flex;
  
}

.statsBodyCard{
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px ;
  border: 1px solid;

  .line{
    height: 1px;
    background-color: var(--hard-red);
  }

  span{
    font-size: 16px;
  }

  p{
    font-size: 22px;
    margin: 0px;
    color: var(--black);
  }

  .bodyItemsContainer{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;

    svg{
      width: 18px;
      height: 18px;

      path{
        fill: var(--black);
      }
    }
  }

}